<!-- <p>auth-navigation works!</p> -->
<ul
  class="w-full inline-flex justify-center bg-gray-200 text-gray-400 rounded-[10px] p-1 overflow-hidden text-sm font-semibold"
>
  <li class="w-1/2">
    <a
      [routerLink]="['/auth/sign-in']"
      routerLinkActive="router-link-active"
      class="block text-center px-8 py-2 rounded-[10px]"
      >Sign In</a
    >
  </li>
  <li class="w-1/2">
    <a
      [routerLink]="['/auth/signup']"
      routerLinkActive="router-link-active"
      class="block text-center px-8 py-2 rounded-[10px]"
      >Signup</a
    >
  </li>
</ul>
