<!-- <p>sign-in works!</p> -->

<!-- The correct email to login is: "janet.weaver@reqres.in"
...any other email address throws an error message. -->

<form
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(loginForm)"
  class="max-w-sm mx-auto py-2"
>
  <div class="mb-3">
    <div class="relative z-0 w-full group">
      <input
        type="email"
        name="floating_email"
        id="floating_email"
        name="name"
        [(ngModel)]="user.email"
        #emailRef="ngModel"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email address</label
      >
    </div>
    <small
      class="text-red-400"
      *ngIf="emailRef.touched && emailRef.errors && emailRef.errors['required']"
      >Email address is required</small
    >
  </div>
  <button
    type="submit"
    class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-3 text-center"
  >
    Continue
  </button>
</form>
